  <!-- Button add contact -->
  <div class="container-fluid mt-3 mb-2">
    <div class="row ms-2">
      <div class="col-md">
        <a href="/add" class="btn btn-primary btn-sm">Add Contact</a>
      </div>
    </div>

    <!-- TABLE -->
    <div class="row mt-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nama</th>
            <th scope="col">Umur</th>
            <th scope="col">Jurusan</th>
            <th scope="col">Email</th>
            <th scope="col">No Hp</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
  
        <% Contacts.forEach((contact, i) => { %>
          <tr>
            <th scope="row"><%= ++i %></th>
            <td><%= contact.name %></td>
            <td><%= contact.age %></td>
            <td><%= contact.jurusan %></td>
            <td><%= (contact.contact.email)? contact.contact.email : "-" %></td>
            <td><%= (contact.contact.noHp)? contact.contact.noHp : "-" %></td>
            <td>
              <!-- <form action="" method="post" class="d-inline">
                <input type="text" hidden name="_id">
                <button type="submit" class="btn btn-info badge">Edit</button>
              </form> -->
              <a href="/edit" class="badge text-bg-primary" style="text-decoration: none;">Edit</a>
              ||
              <!--  for delete -->
              <form action="/delete?_method=delete" method="post" class="d-inline">
                <input type="text" name="_id" value="<%= contact._id %>" hidden>
                <button type="submit" class="btn btn-danger badge" onclick="return confirm('Yakin ingin menghapus Data Ini?')">Delete</button>
                
              </form>
              
            </td>
          </tr>
          <% }) %>
          
        </tbody>
      </table>
    </div>
  </div>